.box1{
    background-color: #3F51B5;
    height: 120px;
}

.box2{
    background-color: #303F9F;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: white;
}